ul{
    font-size: 25px;
}
body{
    background-color: rgb(255, 237, 226);
   }

ul{
    list-style-position: inside;
}

ol{
    list-style-position: inside;
}
h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    
}
P{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

